.container__principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px;
}
/* Titles */
.container__principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
  }
  
.container__principal__title {
    text-align: center;
  }
  .container__principal__title p {
    max-width: 593px;
    text-align: left;
    line-height: 27px;
    font-size: 18px;
  }
  
/* Cards */
.container__principal__cards {
  display: flex;
  justify-content: space-around;
  max-width: 1300px;
  flex-wrap: wrap;
  gap: 30px;
}

.container__principal__cards img {
  width: 100%;
  background-color: #f3f7ff;
}

.container__principal__cards a {
  color: #7ca2f4;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.41px;
}

.container__principal__cards span {
  font-weight: 500;
  color: #121214;
  font-size: 20px;
  line-height: 25.52px;
  margin-top: 17px;
}

.container__principal__cards h3 {
  font-size: 16px;
  color: #121214;
  line-height: 23.4px;
}

.cards {
  display: flex;
  flex-direction: column;
  max-width: 324px;
  height: 356px;
  transition: transform 0.3s ease;
}

.cards:hover {
  transform: scale(1.05);
}
